@import url('./content/content.css');
@import url('./form/form.css');

.list-friend {
    border-left: 2px solid var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    width: 50%;
}

.text-green {
    color: var(--green-color);
}

@media screen and (max-width: 850px) {
    .list-friend {
        border-top: 2px solid var(--white-color);
        border-left: none;
        width: 100%;
        padding: 2em 0;
    }
}